/* START */
body {
  background-color: #e9eaea !important;
  font-family: "Oxygen","Oxygen","Segoe UI","Helvetica Neue",sans-serif;
  box-sizing: border-box;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

/* HEADER */
.ui.secondary.pointing.menu {
  z-index: 999;
  background-color: #FFFFFF;
  height: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
.top.fixed a {
  font-weight: bold !important;
  padding-bottom: 17px !important;
  font-family: Montserrat !important;
  color: #204056 !important;
  font-size: 16px;
}
/* HEADER ENDS */

/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

/* BODY STARTS */
.fullscreen-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-color: #204056;
  opacity: 0.5;
}
.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  /*width: 1466.67px;
  height: 825px;*/
  max-width: 100%;
  opacity: 0.9;
}
.signup-section {
  display: block;
}
h1.ui.header {
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  color: #204056;
  font-size: 50px !important;
  margin: 150px 0px 100px 0px !important;
}
h3.ui.header {
  text-align: center;
  color: #959696;
  font-weight: normal;
}
.row {
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ui.input.signup{
  display: block; 
}
.ui.input .input-signup {
  border: 1px solid #e9eaea !important;
  border-radius: 0px !important;
  width: 300px;
}
#signup-button {
  box-shadow: 0px 0px 0px 2px #204056 inset !important;
  color: #204056;
  border-radius: 0px !important;
  width: 300px;
  height: 50px;
  font-size: 18px;
}
.signup-button-container {
  margin-top: 20px; 
}
#signup-button:hover {
  background-color: #204056;
  color: #FFFFFF;
  border-radius: 0px !important;
}
.fg-logo {
  width: 18px;
  height: 18px;
  margin-right: 10px; 
}
.fg-but {
  width: 148px;
  background-color: #FFFFFF !important;
  border-radius: 0px !important;
  background-image: none;
}
/* BODY ENDS */

/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

/* FOOTER STARTS */
#footer-container {
  margin-top: 50px;
  margin-bottom: -5px;
  background-color: #d4d5d6;
}
.info {
  display: -webkit-box;
}
.info > .info-elem {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex: 1 1 0px;
  /* Solves #2550 MS Flex */
  margin: 0em;
  min-width: 0px;
  background-color: transparent;
  color: #204056;
  font-family: 'Oxygen', sans-serif !important;
  padding: 1rem;
}
.info-elem a {
  color: #204056;
}
.footer-a {
  text-align: left;
}
#follow i {
  color: #204056;
  box-shadow: 0em 0em 0em 0.1em #204056 inset;
}
#follow i:hover {
  background-color: #204056;
  color: #FFF;
}
#divider {
  margin-top: 1px;
  line-height: 1;
  height: 0em;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.85);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.footer-width {
  padding: 2em 5em;
}
/* FOOTER ENDS */

#categories {
  margin-top: 100px;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1039px) {
  .footer-width {
    padding: 2em 3em;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  
}


/* END */



